<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>

    <link rel="stylesheet" href="{{ 'assets/stylesheets/main.css' | url }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
          integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">

</head>
<body>
{% block header %}
    {% include "partials/header.html" %}
{% endblock %}

<div class="content">
    {{ page.content }}
</div>
</body>
</html>